* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(197, 209, 236);

}

/*text*/

.text-center { 
    text-align: center;
}

.heading-large {
    font-size: 3.50rem;
    color: rgb(197, 209, 236);
    padding-bottom: 2px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    
}



/* color */

.bg-dark-blue {
    background-color: rgb(16, 27, 56);
}

.navbar-color {

    background-color: rgb(25, 55, 86);
}

#navbar {
    color: rgb(25, 55, 86);
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 70px;
    font-family: 'Courier New', Courier, monospace;

}


#navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0.75 rem;
    cursor: pointer;
}

#navbar ul li a {
    padding: 5px;
    border-radius: 15px;
    font-weight: bold;
}

.btn {
    color: rgb(16, 27, 56);
    background-color: rgb(197, 209, 236) ;
    border: none;
    font-size: 25px;
    border: solid rgb(16, 27, 56);
    border-radius: 5px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

/*buttons*/

.btn:hover {
    background-color: rgb(128, 149, 187);
    
}
/*container*/

.container {
    max-width: 1100px;
    margin: 0 auto;
}

#navbar ul li a:hover {
    background: rgb(128, 149, 187);
    border-radius: 1px;
    
}

#home { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 8rem;
    padding-left: 5rem;
    border-bottom: solid rgb(128, 149, 187) 2px  ;
    height: 500px;
}



.home:hover {
    background: rgb(128, 149, 187);
    border-radius: 1px;

}



.heading-small {

    opacity: 0.5;
    color: cadetblue;
    font-style: italic;
    font-size: 14px;
    padding-bottom: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

#home .name p {
    margin-bottom:  10px;
    font-size: 15px;
    font-family:  'Courier New', Courier, monospace;
    color: rgb(128, 149, 187);
    
    
}

.bg-aboutme {

    background-image: url("bg-img.jpg");
    background-size: cover;
    height: 550px;
    width: 1519px;
   
}

.heading-med {

    text-align: center;
    padding-top: 25px;
}

#contact {
    height: 73.6px;
    width: 1519px;
    
 }


#contact .social-media {
    
    height: 76px;
    width: auto;

}

#contact .social-media ul {
    display: flex;
    list-style-type: none;
    padding-top: 1.5rem;
    align-items: center;
}

#contact .social-media ul li a {
    padding: 15px;
    font-size: 2rem;
    

}

#contact .social-media ul li a:hover {
    background: rgb(128, 149, 187);
    border-radius: 5px;
    
}